<!doctype HTML>
<html>
<head>
    <title>나만의 특가</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="container" style="margin-bottom: 20px">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <!-- Brand/logo -->
            {{^mem_id}}
                <a class="navbar-brand" href="/">나만의 특가</a>
            {{/mem_id}}
            {{#mem_id}}
            <a class="navbar-brand" href="shopList.do">나만의 특가</a>
            {{/mem_id}}
            <!-- Links -->
            <ul class="navbar-nav">
                {{#mem_id}}
                    <li class="nav-item">
                        <a class="nav-link" href="shopList.do">{{mem_id}}님의 리스트</a>
                        <!--현재 session에 저장되어있는 아이디값 숨겨놓기-->
                        <input type="hidden" value="{{mem_id}}" id="session-mem_id">
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="search.do">상품검색</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="logOut.do">로그아웃</a>
                    </li>
                {{/mem_id}}
                {{^mem_id}}
                <li class="nav-item">
                    <a class="nav-link" href="signIn.do">로그인</a>
                </li>
                {{/mem_id}}
            </ul>
        </nav>
    </div>