<!--머스타치 문법을 써서 css와 html head부는 동일하게 사용-->
<!--현재 페이지는 index페이지로 사용자가 처음으로 접속하면 들어오게 되는 페이지이다.-->
{{>layout/header}}

<div class="container" align="center">
    <div class="jumbotron">
        <h1>최저가 리스트:)</h1>
        <p>등록한 상품의 가격이 원하는 최저가 가격보다 낮아지면 알려드려요!</p>
    </div>
</div>

<div class="container">
    <div class="load-myItem" id="load-myItem">
        <!--상품이 추가될 공간-->
    </div>
    <div id="pageNation">
        <ul id="pageUl" class="pagination">
            <!--페이지 번호가 추가 될 공강-->
        </ul>
    </div>
</div>
{{>layout/jquery}}
<script src="js/sessionValidation.js"></script>
<script src="js/loadList.js"></script>
</body>
</html>
