/*구글 폰트 적용*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.signUp,.loginForm, .search-goodsBox, #search-input, #load-myItem{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.none {
    display: none;
}

.search-goodsBox ,.load-myItem{
    grid-column-gap: 10px;
}

.search-card, .load-card {
    margin: 10px 0 10px 0;
}

a{
    color: #000;
    text-decoration: none;
}

#pageNation{
    display: flex;
    justify-content: center;
}

#pageUl li{
    cursor: pointer;
}

